body {
  background-color: #c0ffb3;
}

hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 100%;
}

h1{
  color: #23374d
}

h3{
  color: #23374d
}
